

body {
	font: 14px Verdana;
}




p, h1, h2 {
      text-align: center;
}
p {
height: 5px;
}

h1 {
font-size: 45px;
color:#000000;

}

h2 {
font-size: 50px;
color: #000000; 
}
* {
    background: #fd5c63;
}

header {
    height: 100px;   
}

article {
    clear: both;
}

article section {
    width: 1457px;
    background-color: #FFC0CB;
    padding: 30px;
}

nav {
  list-style: none;
  height: 50px;
  
  align-items: center;
  
}
ul {
    display: flex;            /* Flexbox pro položky vedle sebe */
    justify-content: center;  /
}

ul li {
  display: inline;
 margin-right: 20px;
}
ul li a{
  background-color: #8B0000;
  padding: 20px
  
}
ul li a {
 color: white;
    text-decoration: none;
}

/* article aside {
    text-align: center; 
   }
article aside a {
color: white;
    text-decoration: none;
    }    */
.center {
        text-align: center; /* Zarovná všechny inline elementy na střed */
 }
        
.cistic {
    clear: both;
}



