   p, h1 {
      text-align: center;
}
* {

    background: #fd5c63;

}
nav {
    list-style: none;
    height: 50px;
    
    align-items: center;
    
  }
  ul {
      display: flex;            /* Flexbox pro položky vedle sebe */
      justify-content: center;  /
  }
  
  ul li {
    display: inline;
   margin-right: 20px;
  }
  ul li a{
    background-color: #8B0000;
    padding: 20px
    
  }
  ul li a {
   color: white;
      text-decoration: none;
  }